{% trans_default_domain 'FOSUserBundle' %}


<body class="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">

        <div class="animate form login_form">
            <section class="login_content">
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <div>
                        <label for="username">{{ 'resetting.request.username'|trans }}</label>
                        <input type="text" id="username" name="username" class="form-control" required="required" />
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans }}" />

                        <input type="button" class="btn btn-default" onclick="location.href='/login';" value="Cancelar" />
                    </div>
                </form>




            </section>
        </div>


    </div>
</div>
</body>